@use './vars.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: var(--secondary-950);

    --card: 0 0% 100%;
    --card-foreground: var(--secondary-950);

    --popover: 0 0% 100%;
    --popover-foreground: var(--secondary-950);

    --primary: var(--primary-500);
    --primary-foreground: 165 100% 4%;
    --primary-text: 163 100% 20%; /* Primary text color with good contrast when standing alone, directly over background color */

    --secondary: var(--secondary-100);
    --secondary-foreground: var(--secondary-900);

    --muted: var(--secondary-100);
    --muted-foreground: var(--secondary-500);

    --accent: var(--secondary-100);
    --accent-foreground: var(--secondary-900);

    --destructive: var(--destructive-500);
    --destructive-foreground: var(--destructive-50);

    --border: var(--secondary-200);

    --input: var(--secondary-200);

    --ring: var(--primary-600);

    --radius: 0.5rem;

    --selection: var(--primary-200);
    --selection-foreground: var(--primary-950);

    input:is(:-webkit-autofill, :autofill),
    input:is(:-webkit-autofill, :autofill):hover,
    input:is(:-webkit-autofill, :autofill):focus,
    input:is(:-webkit-autofill, :autofill):active {
      -webkit-background-clip: text;
      -webkit-text-fill-color: hsl(var(--foreground));
      color: hsl(var(--foreground));
      caret-color: hsl(var(--foreground));
      box-shadow: inset 0 0 20px 20px hsl(var(--background) / 50%);
    }

    input:is(:-webkit-autofill, :autofill) {
      border-color: hsl(var(--border));
    }

    input:is(:-webkit-autofill, :autofill):focus {
      border-color: hsl(var(--primary));
    }
  }
  .dark {
    --background: 0 0% 0%;
    --foreground: var(--secondary-50);

    --card: 0 0% 2%;
    --card-foreground: var(--secondary-50);

    --popover: 0 0% 2%;
    --popover-foreground: var(--secondary-50);

    --primary: var(--primary-500);
    --primary-foreground: 165 100% 9%;
    --primary-text: 160 100% 42%; /* Primary text color with good contrast when standing alone, directly over background color */

    --secondary: 0 0% 17%;
    --secondary-foreground: var(--secondary-50);

    --muted: 0 0% 17%;
    --muted-foreground: var(--secondary-400);

    --accent: 0 0% 17%;
    --accent-foreground: var(--secondary-50);

    --destructive: var(--destructive-900);
    --destructive-foreground: var(--destructive-50);

    --border: var(--secondary-800);

    --input: var(--secondary-800);

    --ring: var(--primary-500);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  ::selection {
    @apply bg-selection/80 text-selection-foreground;
  }
}
